table{
    font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

th, td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
  }
  tr{
      text-align: center;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
   